fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-multipart
librosa
numpy
scipy
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
aiofiles
httpx
basic-pitch
crepe
demucs
whisper
openai
